@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    background:#ffffff;
    color: #333333;
}

main{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 100%);
    
}

.dark html, .dark body{
    background:#121212;
    color: #E0E0E0
}   

.dark main{
    background: rgb(18, 18, 18);
    background: radial-gradient(circle, rgba(50, 50, 50, 1) 0%, rgba(18, 18, 18, 1) 100%);
    
}
